<ul class="icon-list icon-list-events unstyled">
	<f:for each="{allEvents}" as="event">
		<li>
			<span class="event-icon"></span>
			<span>
				<f:if condition="{settings.singlePid}">
					<f:then>
						<f:link.action action="detail" pageUid="{settings.singlePid}" pluginName="eventslisting" arguments="{event : event}">{event.title}</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="detail" pluginName="eventslisting" arguments="{event : event}">{event.title}</f:link.action>
					</f:else>
				</f:if>
			</span>
			<f:alias map="{occurrence: event.soonestOccurrence}">
				<span class="event-particulars">{occurrence.venue}</span>
				<span class="small event-particulars">
					<f:if condition="{occurrence.spansMultipleDays}">
						<f:then>
							<f:format.date format="M d, Y - h:i a">{occurrence.beginTime}</f:format.date>
							to
							<f:format.date format="M d, Y - h:i a">{occurrence.finishTime}</f:format.date>
						</f:then>
						<f:else>
							<f:format.date format="M d, Y">{occurrence.beginTime}</f:format.date>
							from
							<f:format.date format="h:i a">{occurrence.beginTime}</f:format.date>
							to
							<f:format.date format="h:i a">{occurrence.finishTime}</f:format.date>
						</f:else>
					</f:if>
				</span>
			</f:alias>
		</li>
	</f:for>
</ul>
