<table class="tx-cicevents" >
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.start_time" />
		</td>
		<td>
			{event.startTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.end_time" />
		</td>
		<td>
			{event.endTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.venue" />
		</td>
		<td>
			{event.venue}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.address" />
		</td>
		<td>
			{event.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.teaser" />
		</td>
		<td>
			{event.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cicevents_domain_model_event.images" />
		</td>
		<td>
			{event.images}
		</td>
	</tr>
</table>