<f:layout name="Default" />

<f:section name="main">
	{namespace cic=CIC\Cicbase\ViewHelpers}
	<f:format.raw>
		<script type="text/javascript">window.calendarData = <cic:jsonBootstrap data="{eventData}" />;</script>
	</f:format.raw>

	<script type="text/html" id="template-eventListing">
		<div><a class="title" style="<%= colorStyle %>" href="<%= url %>"><%= title %></a></div>
	</script>

	<script type="text/html" id="template-dayBox">
		<div class="day"><%= day %></div>
		<div class="events"><%= events %></div>
	</script>

	<script type="text/html" id="template-controls">
		<a class="prevMonth btn-flat">&larr; <%= prevMonthString %></a>
		<span class="btn-flat disabled"><span class="curMonth"><%= monthString %></span><span class="year"> <%= year %></span></span>
		<a class="nextMonth btn-flat"><%= nextMonthString %> &rarr;</a>
	</script>

	<div class="callout large">
		<div id="calendar" class="calendar-container" >
			<div id="controls" class="controls"></div>
			<table border="1" class="calendar-table">
				<tr>
					<th><h2 class="block-heading">Sun</h2></th>
					<th><h2 class="block-heading">Mon</h2></th>
					<th><h2 class="block-heading">Tues</h2></th>
					<th><h2 class="block-heading">Wed</h2></th>
					<th><h2 class="block-heading">Thurs</h2></th>
					<th><h2 class="block-heading">Fri</h2></th>
					<th><h2 class="block-heading">Sat</h2></th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
			<h3 class="legend">Calendar Legend</h3>
			<ul class="calendar-legend">
			<f:for each="{legendCategories}" as="category">
				<li style="{category.colorStyleDeclaration}" class="category-item"><span class="label legend-swatch" style="background: {category.color};"></span>{category.title}</li>
			</f:for>
			</ul>
	</div>
</f:section>
