{namespace cic=CIC\Cicbase\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<cic:title mode="replace">{event.title}</cic:title>

	<div class="with-trim" style="margin-bottom: 25px;">
		<h2>{event.title}</h2>

		<div class="event-details">
			<div class="event-images">
				<f:if condition="{adminImagesEnabled}">
					<f:if condition="{event.hasImage}">
						<f:image src="{event.firstImage}" alt="" width="200"/>
					</f:if>
				</f:if>
				<f:if condition="{userImagesEnabled}">
					<f:render partial="Event/Image" arguments="{event: event, image: event.image1, width: '200', settings: settings, nolink: 1}" />
					<f:render partial="Event/Image" arguments="{event: event, image: event.image2, width: '200', settings: settings, nolink: 1}" />
					<f:render partial="Event/Image" arguments="{event: event, image: event.image3, width: '200', settings: settings, nolink: 1}" />
				</f:if>
			</div>

			<f:for each="{event.occurrences}" as="occurrence">
				<div class="occurrence">
					<f:if condition="{occurrence.spansMultipleDays}">
						<f:then>
							<div class="small date-string flush event-particulars">
								<f:format.date format="F d, Y - g:i a">{occurrence.beginTime}</f:format.date>
								to
								<f:format.date format="F d, Y - g:i a">{occurrence.finishTime}</f:format.date>
							</div>
						</f:then>
						<f:else>
							<div class="small date-string flush event-particulars">
								<f:format.date format="F d, Y - g:i a">{occurrence.beginTime}</f:format.date>
								to
								<f:format.date format="g:i a">{occurrence.finishTime}</f:format.date>
							</div>
						</f:else>
					</f:if>

					<f:if condition="{occurrence.venue} == {occurrence.address}">
						<f:then>
							<f:if condition="{occurrence.venue}">
								<div class="small event-venue event-particulars">{occurrence.venue}</div>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{occurrence.venue}">
								<div class="small event-venue event-particulars">{occurrence.venue}</div>
							</f:if>

							<f:if condition="{occurrence.address}">
								<address class="small event-address">{occurrence.address}</address>
							</f:if>
						</f:else>
					</f:if>
				</div>
			</f:for>
		</div>

		<f:if condition="{event.url}">
			<div class="event-url"><a href="{event.url}">Register and Learn More</a></div>
		</f:if>

		<div class="event-description"><f:format.html>{event.description}</f:format.html></div>

		<p>
			<f:if condition="{event.type.title}">
				<strong>Event Type:</strong>
				<f:link.action action="list" arguments="{type: event.type}" class="">
					{event.type.title}
				</f:link.action>
				<br/>
			</f:if>

			<f:if condition="{event.categories}">
				<f:if condition="{event.categoryCount} > 1">
					<f:then>
						<strong>Event Categories:</strong>
					</f:then>
					<f:else>
						<strong>Event Category:</strong>
					</f:else>
				</f:if>
				<f:for each="{event.categories}" as="category" iteration="iteration">
					<f:link.action action="list" arguments="{category: category}" class="">
						{category.title}</f:link.action><f:if condition="{iteration.isLast} != 1">,</f:if>

				</f:for>
			</f:if>
		</p>

	</div>
	<p>
		<f:if condition="{settings.returnPid}">
			<f:then>
				<f:link.page pageUid="{settings.returnPid}" class="btn">&larr; Return to List of Events</f:link.page>
			</f:then>
			<f:else>
				<f:link.page class="btn event-button">&larr; Return to List of Events</f:link.page>
			</f:else>
		</f:if>
	</p>
</f:section>
