<f:layout name="Default" />

<f:section name="main">

	{namespace cic=Tx_Cicbase_ViewHelpers}
	<f:flashMessages renderMode="div"/>
	<f:if condition="{events}">
		<f:else>
			<f:if condition="{minimal}">
				<f:then>
					<ul class="icon-list icon-list-events unstyled">
						<li>
							<span class="event-icon"></span>
							<span>There are currently no upcoming events planned. Please check back soon.</span>
						</li>
					</ul>
				</f:then>
				<f:else>
					<ul class="unstyled flash-messages">
						<li class="alert alert-info">
							No events were found matching your search criteria. Please adjust the search filters and
							try again.
						</li>
					</ul>
				</f:else>
			</f:if>
		</f:else>
	</f:if>

	<f:if condition="{settings.filtersOn}">
		<div id="filters" class="callout">
			<f:form class="FiltersForm" enctype="multipart/form-data" controller="Event" method="post">
				<h3>Filter Events by:</h3>

				<div class="row row-flush">
					<f:if condition="{filters.location}">
						<div class="span5">
							<div class="input">
								<label for="locality">Location</label>
								<cic:form.select id="locality" class="span5 chzn-select" name="locality" value="{locality}" options="{localities}" optionLabelField="name" nullOption="All Locations"/>
							</div>
						</div>
					</f:if>

					<f:if condition="{filters.range}">
						<div class="span5">
							<div class="input">
								<label for="range">Range</label>
								<f:form.select class="span5 chzn-select" name="range" options="{ranges}" value="{range}" optionValueField="id" optionLabelField=""/>
							</div>
						</div>
					</f:if>
				</div>
				<div class="row">
					<f:if condition="{filters.category}">
						<div class="span5">
							<div class="input">
								<label for="category">Category</label>
								<cic:form.select class="span5 chzn-select" name="category" value="{category}" options="{categories}" optionLabelField="title" nullOption="All Categories"/>
							</div>
						</div>
					</f:if>
					<f:if condition="{filters.type}">
						<div class="span5">
							<div class="input">
								<label for="type">Type</label>
								<cic:form.select class="span5 chzn-select" name="type" value="{type}" options="{types}"
												 optionLabelField="title" nullOption="All Types"/>
							</div>
						</div>
					</f:if>

				</div>
				<div class="row row-flush">
					<div class="span5">
						<div class="input">
							<f:form.submit value="Go" class="btn"/>
						</div>
					</div>
				</div>

			</f:form>
		</div>

	</f:if>

	<f:if condition="{settings.pagination}">
		<f:if condition="{settings.paginationTop}">
			<f:render partial="Event/Pagination" arguments="{_all}" />
		</f:if>
	</f:if>


	<f:if condition="{events}">
		<f:if condition="{minimal}">
			<f:then>
				<f:render partial="Event/ListMinimal" arguments="{settings: settings, allEvents: events, userImagesEnabled: userImagesEnabled, adminImagesEnabled:adminImagesEnabled}"></f:render>
			</f:then>
			<f:else>
				<f:render partial="Event/List" arguments="{settings: settings, allEvents: events, userImagesEnabled: userImagesEnabled, adminImagesEnabled:adminImagesEnabled}"></f:render>
			</f:else>
		</f:if>
	</f:if>

	<f:if condition="{settings.pagination}">
		<f:if condition="{settings.paginationBottom}">
			<f:render partial="Event/Pagination" arguments="{_all}" />
		</f:if>
	</f:if>


</f:section>
